.hero {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.878),
      rgba(73, 50, 64, 0.734)
    ),
    url("../../images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  .nav {
    display: flex;
    justify-content: space-between;
    color: $offWhite;
    min-height: 8vh;
    align-items: center;

    &.active {
      background-color: $mainBlack;
      position: fixed;
      width: 100vw;
      height: 100vh;
      flex-direction: column;
      z-index: 200;

      .navbar {
        display: block;
      }

      .hamburger {
        display: none;
      }

      .close {
        display: block;
        position: absolute;
        top: 0.5rem;
        left: 80%;
        color: $rosalight;
        font-size: 2rem;
        cursor: pointer;
        transition: transform ease 1s;
      }
      .close:hover {
        transform: scale(1.1);
        color: rgba(255, 0, 234, 0.583);
      }
    }

    .hamburger {
      font-size: 2rem;
      cursor: pointer;
    }

    .close {
      display: none;
    }

    .icon {
      font-size: 2rem;
    }

    .navbar {
      display: none;
      align-items: center;
      flex-basis: 25rem;
      justify-content: space-between;

      .list {
        .social-icon {
          padding-left: 0.5rem;
        }
        .social-icon:hover {
          color: $rosalight;
        }
        .link {
          font-weight: 700;
        }

        .link:hover {
          color: $rosalight;
        }
      }

      .list:nth-child(1) {
        .link {
          color: $rosalight;
        }
      }
    }
  }

  .hero-content {
    display: flex;
    height: calc(100vh - 8vh);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 1rem;

    .hero-title {
      font-size: 6rem;
      font-family: "Poppins", sans-serif;
      letter-spacing: var($mainSpacing);
      margin: 0;
      font-weight: 700;
      color: $offWhite;
      text-align: center;
    }

    .content-text {
      text-align: center;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      max-width: 30rem;
      min-width: 20rem;

      .content-paragraph {
        font-weight: 700;
        font-size: 1.4rem;
      }
    }
  }
}

@include desktop {
  .hero {
    .nav {
      padding: 0 1rem;
      background-color: transparent;
      .navbar {
        display: flex;
      }

      .hamburger {
        display: none;
      }
    }

    .hero-content {
      flex-direction: row;
      justify-content: space-around;

      .content-text {
        .content-paragraph {
          font-weight: 700;
          font-size: 1.8rem;
        }
      }
    }
  }
}
