* {
  border: 0.4px solid black;
}
.hero {
  background-image: linear-gradient(
      to right,
      rgba(255, 0, 153, 0.604),
      rgba(73, 50, 64, 0.563)
    ),
    url("../../images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;

  .nav {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    color: $offWhite;
    min-height: 8vh;
    align-items: center;

    .hamburger {
      font-size: 2rem;
    }

    .icon {
      font-size: 2rem;
    }

    .navbar {
      display: none;
      align-items: center;
      flex-basis: 25rem;
      justify-content: space-between;
    }
  }

  .hero-content {
    display: flex;
    height: calc(100vh - 8vh);
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .hero-title {
      font-size: 6rem;
    }
  }
}

@include desktop {
  .hero {
    .nav {
      padding: 0 1rem;
      .navbar {
        display: flex;
      }

      .hamburger {
        display: none;
      }
    }

    .hero-content {
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
