html {
  box-sizing: border-box;
  // font-size: 65.2%;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

/* body */

body {
  font-family: "Lato", sans-serif;
  color: $offWhite;
  background: $offWhite;
  line-height: 3rem;
  font-size: 1rem;
  overflow: hidden;
  // height: 100vh;
}

/******************************************Global Styles**********************************/

a {
  text-decoration: none;
  color: $offWhite;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  //   overflow: hidden;
}

img {
  max-width: 100%;
}

.btn {
  padding: 1.1rem 2rem;
  border: none;
  cursor: pointer;
  background-color: $rosalight;
  color: $mainWhite;
  transition: all ease 1s;
}

.btn:hover {
  background-color: transparent;
  border: 1px solid $mainWhite;
}

.rounded {
  border-radius: 2rem;
}
