/* Media Queries*/
$phone: 280px;
$tablet: 768px;
$desktop: 1024px;

/* colors */

$primaryColor: #051937;
$mainWhite: #fff;
$offWhite: #f7f7f7;
$mainBlack: #000;
$mainGrey: #e8e0e0;
$darkGrey: rgba(211, 206, 206, 0.905);
$rosalight: #c2337b;
$colorText: #97767b;
$grey: rgba(245, 245, 245, 0.809);
$colorNumbers: #e0d8d8;
$paragraph-grey: #877f7f;

/* helpers */

$mainTransition: all 0.3s linear;
$mainSpacing: 0.25rem;
$textCenter: center;

/* shadows */
$lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.25);
$darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
